#menu-pureurl4pm-options[active="false"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-red-small.png');
}
#menu-pureurl4pm-options[active="false"][disabled="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-red-small.png');
	opacity:0.5;
}
#menu-pureurl4pm-options[active="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
}
#menu-pureurl4pm-options[active="true"][disabled="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
	opacity:0.5;
}
#button-pureurl4pm {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
}
#button-pureurl4pm[active="false"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-red.png');
}
#button-pureurl4pm[active="false"][disabled="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-red.png');
	opacity:0.5;
}
#button-pureurl4pm[active="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green.png');
}
#button-pureurl4pm[active="true"][disabled="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green.png');
	opacity:0.5;
}
toolbar[iconsize="small"] #button-pureurl4pm {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
}
toolbar[iconsize="small"] #button-pureurl4pm[active="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
}
toolbar[iconsize="small"] #button-pureurl4pm[active="true"][disabled="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
	opacity:0.5;
}
toolbar[iconsize="small"] #button-pureurl4pm[active="false"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-red-small.png');
}
toolbar[iconsize="small"] #button-pureurl4pm[active="false"][disabled="true"] {
	list-style-image:url('chrome://pureurl4pm/skin/icon-red-small.png');
	opacity:0.5;
}
toolbarbutton.button-pureurl4pm,window:not([active="true"]) toolbarbutton.button-pureurl4pm{
	list-style-image:url('chrome://pureurl4pm/skin/icon-green-small.png');
}